body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
}

ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.app {
  display: flex;
}

.character-list {
  flex: 1 1 0;
  border: 1px solid #ddd;
  padding: 1rem;
  margin: 1rem;
}

.profile-card-section {
  border-top: 1px dashed #666;
  margin-top: 2rem;
}

.attr-card-key {
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
}