body {
  background-color: #333;
  color: #fff;
  font-family: serif;
  font-size: 16px;
}

ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.battle-main,
.battle-header {
  display: flex;
}

.battle-header {
  text-align: center;
}
.battle-header__heading {
  width: 100%;
}

.layout {
  display: flex;
  width: 100%;
}
.layout .col {
  flex: 1 1 0;
}

.char-sheet {
  flex: 1 1 0;
  border: 1px solid #ddd;
  padding: 1rem;
  margin: 1rem;
  text-align: center;
}

.char-sheet__dead {
  opacity: 0.3;
}

.char-sheet__icon {
  width: 120px;
  height: 120px;
  background-size: cover;
  margin: 1rem auto;
}
.char-sheet__icon.rogue {
  background-image: url("./assets/rogue.jpeg");
}
.char-sheet__icon.cleric {
  background-image: url("./assets/cleric.jpeg");
}
.char-sheet__icon.sorcerer {
  background-image: url("./assets/sorcerer.jpeg");
}
.char-sheet__icon.warlock {
  background-image: url("./assets/warlock.jpeg");
}
.char-sheet__icon.paladin {
  background-image: url("./assets/paladin.jpeg");
}

.char-sheet__section {
  border-top: 1px dashed #666;
  margin-top: 2rem;
}

.attr-card-key {
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
}

.alignment {
  font-size: 0.75rem;
}

.char-sheet__controls {
  margin-top: 2rem;
}

.button {
  background-color: transparent;
  border: 1px solid #eee;
  color: #fff;
  cursor: pointer;
  font-size: 2rem;
  padding: 0.5rem 2rem;
  text-align: center;
  width: 100%;
}

@keyframes attack {
  from {
    background-color: rgba(255, 0, 0, 1);
  }
  to {
    background-color: rgba(255, 0, 0, 0);
  }
}

.button__attack:active {
  animation-duration: 1s;
  animation-name: attack;
}
