body {
  background-color: #333;
  color: #fff;
  font-family: serif;
  font-size: 16px;
}

ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.battle-main,
.battle-header {
  display: flex;
}

.layout {
  display: flex;
}
.layout .col {
  flex: 1 1 0;
}

.char-sheet {
  flex: 1 1 0;
  border: 1px solid #ddd;
  padding: 1rem;
  margin: 1rem;
}

.char-sheet__section {
  border-top: 1px dashed #666;
  margin-top: 2rem;
}

.char-sheet__target {
  background-color: yellow;
}

.attr-card-key {
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
}

.control-panel {
  display: flex;
  margin: 0 auto;
}
.control-panel-alert {
  flex: 1 1 50%;
  background-color: #f00;
  color: #fff;
}

.alignment {
  font-size: 0.5rem;
}